.login-cmp-container {
    
     /* width: 30vw; /* */
 
    /* max-height: 80vh;  */

  
    /* height:30vw; */
    /* height: 100%; */
    /* width: 60%;   */
    /* width: 25vw;
    height:35vh; */
    /* width: 25vw;
    height:65vh;  */

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* background-color: blue; */
  }
  