/* src/pages/MainPage/MainPage.css */

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: auto; /*允许在内容溢出时出现滚动条 */

}
