/* login-section 样式，带有淡淡的背景色 */
.login-section {
    max-width: 500px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  /* 登录按钮样式 */
  .login-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #0070d2;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 0.5rem;
  }
